*{
    padding:0px;
    margin: 0px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }


.first{
    display: flex;
    flex-direction:row;
    justify-content: right;
    align-items:center;
    column-gap :10px;   
    font-size: 18px;
    font-weight: 1;
    border: 0;
    padding: 10px 20px;
}

  

#sign-button{
    background-color: rgb(17, 125, 220);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

#google_logo{
    width:250px;
    height: 80px ;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
       
}


p{
    font-size: small;
    
}

.buttons-div {
    display: flex;
    display-direction :row ;
    column-gap: 10px;
    margin: 20px;

}

.buttons-div button{
    color: solid black ;
    background-color: rgb(249, 249, 249);
    border: none;
    padding: 5px 20px;
}

.search_div{
    display: flex;
    flex-direction :row ;
    column-gap: 0px;
    align-items: center;
    border: 1px;
    border-color: rgb(202, 199, 199);
    border-style:solid;
    border-radius: 15px;
    margin-top: 15px;
    
}

.search-pic{
    width: 25px;
    height: 25px;
}

.pic{
    display: flex;
    flex-direction :row ;
    column-gap: 0px;
    margin-right: 7px;
    
}
#input{
    width: 350px;
    height: 25px;
    border: none;
}

.footer{
    position: fixed;
    bottom: 0;
    flex-direction: column;
    width: 100%;   
    background-color: rgb(234, 234, 234);
    justify-content: space-between;
    padding: 10px 0px;
}

.footer h5{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

a{
    color:black;
    text-decoration: none;
    font-size: 14px;
}


.left-footer{
    display: flex;
    flex-direction:row;
    justify-content: left  ;
    align-items:center;
    column-gap :20px;   
    padding-left: 18px;
    padding:5px;
    
}

.right-footer{
    display: flex;
    flex-direction:row;
    justify-content: right;
    column-gap :20px; 
    padding-right: 18px;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between  ;
    padding: 0px;
}

.first-footer{
    padding: 5px 5px;

}

