body {
  font-family: arial, sans-serif;
}
.main-illus {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}

.div-terms {
  margin: 0 auto;
  width: 600px;
}

h1 {
  color: #3c4043;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.667;
  margin: 1.236em 0 0.618em 0;
  text-transform: uppercase;
}

h2 {
  color: #3c4043;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.333;
  margin: 0;
  padding: 64px 0 0 0;
}
h3 {
  padding: 40px 0 0 0;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2,
h3,
.term {
  font-family: sans-serif;
}
.term {
  font-size: 1.625rem;
  line-height: 1.308;
  letter-spacing: 0;
  text-transform: none;
}
.h3style {
  font-size: 1.5rem;
  line-height: 1.333;
  padding-top: 8px;
  padding-bottom: 4px;
}

.h2style {
  font-size: 1.375rem;
  line-height: 1.273;
}

.contry {
  display: flex;
  position: relative;
  visibility: hidden;
}
a {
  color: #7baaf7;
  border-bottom: 1.5px solid #7baaf7;
}

p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
}
