{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="preconnect" href="https://fonts.google.com/">
    <link rel="preconnect" href="https://fonts.google.com/icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Google Terms of Service</title>
    <link rel="stylesheet" href="{% static 'styles/terms.css' %}">
    
</head>
<body>
    <header>
        <nav class="right-nav">
            <a href="#">Gmail</a>
            <a href="#">Images</a>
            
            <span id="icon" class="material-symbols-outlined">apps</span>
            <button class="sign-button">Sign in</button>
        </nav>
    </header>

    <main>
        <div class="div-terms">
            <img src="{% static 'logo/tos_main_illustration.svg' %}" alt="Terms of Service Illustration">
            <div class="content">
                <h1>Google Terms of Service</h1>
                <p>Effective 5 January 2022 <span class="X75z6e">|</span> <a href="terms/archive?hl=en-SA&amp;fg=1">Archived versions</a> <span class="LrWC5c"><span class="X75z6e">|</span> <a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en-GB.pdf">Download PDF</a></span></p>
                <p><a class="YfaGG" href="terms?hl=en-SA&amp;fg=1#footnote-country-version">Country version:</a> Saudi Arabia</p>
                <h2 class="h2style">What’s covered in these terms</h2>
                <h3 class="h3style">We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google <a class="YfaGG" href="terms?hl=en-SA&amp;fg=1#footnote-services">services</a>, and what we expect from you.</h3>
                <p>These Terms of Service reflect <a href="https://about.google/intl/en-GB_SA/how-our-business-works" class="N6CPUe" target="_blank">the way that Google’s business works</a>, the laws that apply to our company, and <a href="https://www.google.com/about/philosophy.html?hl=en_GB" class="N6CPUe" target="_blank">certain things that we’ve always believed to be true</a>. As a result, these Terms of Service help define Google’s relationship with you as you interact with our services. For example, these terms include the following topic headings:</p>
                <ul>
                    <li><a href="terms?hl=en-SA&amp;fg=1#toc-what-you-expect">What you can expect from us</a>, which describes how we provide and develop our services</li>
                    <li><a href="terms?hl=en-SA&amp;fg=1#toc-what-we-expect">What we expect from you</a>, which establishes certain rules for using our services</li>
                    <li><a href="terms?hl=en-SA&amp;fg=1#toc-content">Content in Google services</a>, which describes the intellectual property rights to the content that you find in our services – whether that content belongs to you, Google, or others</li>
                    <li><a href="terms?hl=en-SA&amp;fg=1#toc-problems">In case of problems or disagreements</a>, which describes other legal rights that you have, and what to expect in case someone violates these terms.</li>
                </ul>
                <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.</p>
                <p>Besides these terms, we also publish a <a href="privacy?hl=en-SA&amp;fg=1">Privacy Policy</a>. Although it’s not part of these terms, we encourage you to read it to better understand how you can <a href="https://myaccount.google.com/?hl=en_GB" class="N6CPUe" target="_blank">update, manage, export, and delete your information</a>.</p>
                <h2 class="h2style">Service provider</h2>
                <p>Google <a class="YfaGG" href="terms?hl=en-SA&amp;fg=1#footnote-services">services</a> are provided by, and you’re contracting with:</p>
                <p>Google LLC<br>organised under the laws of the State of Delaware, USA, and operating under the laws of the USA<br><br>1600 Amphitheatre Parkway<br>Mountain View, California 94043<br>USA</p>
                <h2 class="h2style">Age requirements</h2>
                <p>If you’re under the <a href="https://support.google.com/accounts/answer/1350409?hl=en_GB" target="_blank">age required to manage your own Google Account</a>, you must have your parent or legal guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these terms with you.</p>
                <p>If you’re a parent or legal guardian, and you allow your child to use the <a class="YfaGG" href="terms?hl=en-SA&amp;fg=1#footnote-services">services</a>, then these terms apply to you and you’re responsible for your child’s activity on the services.</p>
                <p>Some Google services have additional age requirements as described in their <a href="terms/service-specific?hl=en-SA&amp;fg=1">service-specific additional terms and policies</a>.</p>
            </div>
        </div>
            </body>
    </main>

    
</body>
</html>
