{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'icon/Google.png' %}"
    />
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block style %} {% endblock %}
    <title>{% block title %} Google{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="#">Gmail</a>
      <a href="#">Images</a>
      <img src="{% static "icon/apps.png" %}" />
      <button>Sign in</button>
    </nav>
    {% block content %}
    
    {% endblock content %}
    <footer>
      <h4>Saudi Arabia</h4>
      <div class="links">
        <div class="link-1">
          <a href="#">About</a>
          <a href="#">Advertising</a>
          <a href="#">Business</a>
          <a href="#">How Search works</a>
        </div>
        <div class="link-2">
          <a href="#">Privacy</a>
          <a href="{% url "main:terms_page" %}">Terms</a>
          <a href="#">Settings</a>
        </div>
      </div>
    </footer>
  </body>
</html>
