{% extends "main/base.html" %}
{% load static %}

{% block title %} Google Search{% endblock %}

{% block content %}
    <div class ="middle">
        <img src="{% static 'images/google-logo.png' %}"  id ="google_logo"/> <!-- صورة قوقل-->

        <div class ="search_div">
            <span class="material-symbols-outlined">search </span>
            <form><input type="text" placeholder='Search' id='input'> <!-- هنا حق السيرش--></form>
            <div class="pic">
            <img src="{% static "images/mircophone.png" %}" class="search-pic">
            <img src="{% static "images/camera.png" %}" class="search-pic">
            </div>
        </div>

        <div class="buttons-div">
            <button >Google search</button>
            <button>I'm feeling lucky</button>
        </div>
        <p>Google offered in : العربية</p>
    </div>

{% endblock content %}

