
{% extends 'main/base.html' %}
{% block title %} Style Google Search {% endblock %}

{% block content %}


<div class="logo"> 
 <img src="/static/images/google-logo-glow.png" />
</div>

<dive class = "box">  </div>
<div class="search">
  <i class="material-icons">search</i>
  <input class ="search-bar"type="text" placeholder="Search..">

</div>

</div>
    <div class="buttons">
      <button class="button" type="button">Google Search</button>
      <button class="button" type="button">I'm Feeling Lucky</button>
     </div>
    




{% endblock %}