{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/google.ico">

    <link rel="stylesheet" href="/static/Styles/terms.css">
    <!-- Google Fonts & Icons -->
    <link rel="preconnect" href="https://fonts.google.com/">
    <link rel="preconnect" href="https://fonts.google.com/icons">
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>Terms of Services</title>
</head>
<body>
    <header>
        <nav class="right-nav">
            <a href="">Gmail</a>
            <a href="">Images</a>
            <!-- Apps Icon -->
            <span class="material-symbols-outlined"> apps </span>
            <button class="sign-button">Sign in</button>
        </nav>
    </header>

    <main>
        <img src="/static/images/tos_main_illustration.svg" alt="TermsOfService Illustration">

        
    </main>
</body>
</html>