{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terms</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="{% static 'style_css/terms_page.css' %}" rel="stylesheet" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
     


</head>
<body>

<header> 
 
 <div class= "right">
    <a href="https://mail.google.com/mail/">Gmail</a>
    <a href="https://www.google.com/imghp?hl=en&tab=ri&ogbl">Images</a>
    <span id = "apps"class="material-symbols-outlined">apps</span>
    <a href="https://accounts.google.com/ServiceLogin?hl=ar&passive=true&continue=https://www.google.com/search%3Fq%3Dgoogle%26oq%3Dgoogle%26gs_lcrp%3DEgZjaHJvbWUyBggAEEUYOTIGCAEQRRg7MgYIAhBFGDsyBggDEEUYOzIGCAQQRRg8MgYIBRBFGDwyBggGEEUYPTIGCAcQRRg80gEINjcwM2owajGoAgCwAgA%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ"><button class="signbutton" type="button">Sign in</button></a>
 </div>

</header>
   <img class="img" src="{% static 'images/tos_main_illustration.svg' %}" />

<main class="main">

<div>
    <h1 class="Google_terms">Google Terms of Service</h1> 
    <div class="row">
    <p> Effective 5 January 2022 |</p>
    <span><a href="">Archived version | </a></span>
    <span><a href=""> Download PDF</a></span>
    </div>
    <div class="row">
    <a href="">Country version :</a>
    <span><p>Saudi Arabia</p></span>
    </div>
</dive>


<div class="terms_coverd_content">

<div>
    <h2>What’s covered in these terms </h2>
    <p> <h1>We know it’s tempting to skip these Terms of Service, but it’s</h1> 
    important to establish what you can expect from us as you use 
    Google<a href="">services</a>, and what we expect from you.</p>
    <p >
    These Terms of Service reflect<a href="">the way that Google’s business works</a>,<br> 
    the laws that apply to our company, and<a href="">certain things that we’ve always 
    believed to be true</a>.As a result, these Terms of Service help define<br> 
    Google’s relationship with you as you interact with our services. 
    For example, these terms include the<br> following topic headings:</p>
</dive>
<div >
<ul><li><a href="">What you can expect from us</a>, which describes how we provide and develop our services</li>
<li> <a href="">What we expect from you</a>, which establishes certain rules for using our services</li>
<li><a href="">Content in Google services</a>, which describes the intellectual property 
rights to the content that you find in our services – whether that 
content belongs to you, Google or others </li>
<li><a href="">In case of problems or disagreements</a>, which describes other legal 
rights that you have, and what to expect in case someone violates 
these terms.</li> </ul>
<p class="style">Understanding these terms is important because, by using our services, 
you’re agreeing to these terms. Besides these terms,

we also publish a<a href=""> Privacy Policy</a>. Although it’s not 
part of these terms, we encourage you to read it to better understand 
how you can <a href="">update, manage, export and delete your information.</a> </p>
</dive>
</div>
<br>
<div>
<h1 class="Google_terms">Terms </h1>
<h2>Service provider</h2> 
<p class="style">
    Google services are provided by, and you’re contracting with:

    Google LLC
    organised under the laws of the State of Delaware, USA, and operating under the laws of the USA
    1600 Amphitheatre Parkway
    Mountain View, California 94043
    USA 

 </p>

<h2>Age requirements</h2> 

<p class="style">
    If you’re under the age required to manage your own Google Account, you must have your parent or legal 
    guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these terms 
    with you.

    If you’re a parent or legal guardian, and you allow your child to use the services, then these terms apply to 
    you and you’re responsible for your child’s activity on the services.

    Some Google services have additional age requirements as described in their service-specific additional 
    terms and policies.
</p>

</dive>


</dive>

</main>

<div class = "SA">
    <a href="/">Saudi Arabia</a>
</div>

<footer>

    <div class= "left-footer">
    
        <a href="https://about.google/?utm_source=google-SA&utm_medium=referral&utm_campaign=hp-footer&fg=1">About</a>
        <a href="https://www.google.com/intl/ar_sa/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Advertising</a>
        <a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Business</a>
        <a href="https://google.com/search/howsearchworks/?fg=1">How Search Works</a>
    </div>

     <div class ="right-footer">
        <a href="https://policies.google.com/privacy?hl=ar-SA&fg=1">Privacy</a>
        <a href="/">Settings</a>
    </div>

</footer>

</body>
</html>