
* {
    font-family: "inter", sans-serif;
    padding: 0px;
    margin: 0px;
    
}


nav {
    background-color: #ffffff; 
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 0px; 
}


nav a {
    text-decoration: none;
    color: #333; 
    margin-right: 20px; 
    column-gap: 30px;
}


.material-symbols-outlined {
    font-size: 20px;
}


.sign_In_button {
    background-color: #4285f4; /* Standardized background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.images-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.google-logo {
    
    margin-top: -90px;
    height: auto;
    width: 25vw; 
}


.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px;
    margin-top: 30px;
}

.search-form {
    display: flex;
    width: 100%;
    align-items: center;

}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 8px; 
}

.search-input {
    flex-grow: 1;
    border: none;
    margin-left: 50px; 
    margin-right: 50px;
    width: 550px;
}

.search-input:focus {
    outline: none;
}
.icon-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc none;
    border-radius: 35px;
    padding: 5px 20px;
    column-gap: 5px;
}

.icon {
    height: 30px;
}



.material-symbols-outlined {
    font-size: 24px; 
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 270px;
}
.form-button {
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 10px 24px;
    margin: 0 4px;
    font-size: 14px;
    line-height: 27px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.form-button:hover {
    border: 1px solid #dadce0;
    color: #202124;
}

.Google-offerd {
    font-size: 14px; 
    color: #666; 
    margin-top: 10px; 
}





html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #f2f2f2;
    padding: 20px; 
}

.country-name {
    font-size: 16px;
    text-align: left; 
    padding-left: 20px; 
    margin-bottom: 10px;
    border-bottom: rgb(224,226,229) solid 1px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.left-section, .right-section {
    display: flex;
    
}

.left-section span, .right-section span {
    margin-right: 20px;
    cursor: pointer;
    
}
.right-section a,span{
    padding-left: 10px;

}

.left-section span:last-child, .right-section span:last-child {
    margin-right: 0;
}